body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100vh;
  margin: 0;
}

#app {
  height: 100vh;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}
